.container--about {
  display: flex;
  padding: var(--size-lg-1);
  gap: var(--size-md-2);
  flex-wrap: wrap;
  justify-content: center;
}

.container--skills {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--size-md-2);
  max-width: 50%;
  margin: 0 auto;
  place-content: center;
  padding: var(--size-lg-1);
  place-items: center;
}

.skillCard {
  display: flex;
  flex-direction: column-reverse;
  gap: var(--size-sm-2);
  word-break: break-all;
  min-width: fit-content;
  align-items: center;
}

.description {
  font-size: var(--font-sm);
  color: var(--color-beige);
  word-spacing: 3px;
}

.image {
  width: 8.4rem;
  height: auto;
}

@media screen and (max-width: 1024px) {
  .container--skills {
    grid-template-columns: 50% 50%;
    max-width: 100%;
    padding: var(--size-md-2);
  }
}

@media screen and (max-width: 768px) {
  .infoCard {
    max-width: max-content;
  }
}

@media screen and (max-width: 475px) {
  .container--about {
    padding: var(--size-sm-2);
  }

  .container--skills {
    grid-template-columns: 50%;
    padding: var(--size-sm-2);
  }
}
