.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  background: linear-gradient(
    to right,
    var(--color-secondary) 50%,
    var(--color-primary) 50%
  );
  min-height: 100vh;
}
.imageContainer {
  display: flex;
  justify-content: center;
  grid-column: 2;
  grid-row: 1;
  background-color: var(--color-secondary) 50%;
}
.imageContainer img {
  max-width: 70%;
}
.greeting {
  font-size: var(--font-md);
  margin-bottom: var(--size-md-1);
}
.details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 auto;
  background-color: var(--color-primary) 50%;
  padding: var(--size-lg-1) var(--size-md-1);
}
.name {
  font-size: var(--font-2xl);
  margin-bottom: var(--size-md-1);
}
.job {
  color: var(--color-beige);
  font-size: var(--font-lg);
  margin-bottom: var(--size-md-1);
}
.links {
  display: flex;
  list-style-type: none;
  gap: var(--size-md-1);
  font-size: var(--font-md);
}

.link > svg:hover {
  transition: 0.2s;
  border-radius: 50%;
  background: var(--color-primary);
}

@media screen and (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
    place-content: center;
    background-image: url("https://s3-alpha-sig.figma.com/img/ecd8/88c5/db9f58415906487e880f6e484d0661e3?Expires=1734912000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=pSbZAIQDW-KYfiKFBYYCzZnwWwIJAMKqxKYH8gk6i4pLmf-CziVkQIhNV~vhj25BxWqPeF0EL0dstJMCbjINlXB9MpsO50z6HQBIXGsF~7nzzlsQb7u4DjBhQdu-HJSt-obsLQ4SOgrySrmHqoBDSgLg60nbLk5DpzU4cMyrou1N38zf-DtRxm28nyDXQU3GYbJEWjx7dGwjh0Y3wRIUw3coJpPgMG27sxGd1-~IsEWPoRs3Y~gSwwl2faptp8kI5INcKkLTzlz39slgUx9uCoHmMaf20rlGDWX2oOxlI7LyF4XqsWZ3BGFPtW2MuBtudj067FrYbDt0sycFxt~8kA__");
  }
  .name {
    margin-bottom: 0;
  }
  .imageContainer {
    display: none;
  }
  .details,
  .job {
    align-items: center;
    color: var(--color-white);
    padding: var(--size-md-1) var(--size-sm-2);
    text-align: center;
  }
  .greeting {
    margin-bottom: var(--size-sm-1);
  }
}
